[submodule "awesome/src/lib/rubato"]
	path = awesome/src/lib/rubato
	url = https://github.com/andOrlando/rubato
[submodule "awesome/src/lib/color"]
	path = awesome/src/lib/color
	url = https://github.com/andOrlando/color
[submodule "awesome/src/lib/lua-dbus_proxy"]
	path = awesome/src/lib/lua-dbus_proxy
	url = git@github.com:Crylia/lua-dbus_proxy.git
