[submodule "awesome/src/lib/rubato"]
	path = awesome/src/lib/rubato
	url = https://github.com/andOrlando/rubato
[submodule "awesome/src/lib/awesome/src/lib/color"]
	path = awesome/src/lib/awesome/src/lib/color
	url = https://github.com/andOrlando/color
[submodule "awesome/src/lib/color"]
	path = awesome/src/lib/color
	url = https://github.com/andOrlando/color
[submodule "awesome/src/lib/dbus_proxy"]
	path = awesome/src/lib/dbus_proxy
	url = https://github.com/stefano-m/lua-dbus_proxy
